*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 216, 255);
}
table{
    margin-bottom: 30px;
}

body {
    padding: 60px;
    margin: 60px;
}

h1{
    font-size: 50px;
    color: rgb(32, 32, 77);
}

tr th{
    padding: 10px;
    background-color: rgb(32, 32, 77);
    color: rgb(255, 255, 255);
}
td{
    background-color: rgb(192, 192, 216);
    padding: 10px;
}

.button{
    padding: 10px;
    background-color: rgb(129, 208, 224);
    text-decoration: none;
    color: rgb(32, 32, 77);
    font-weight: bolder;
    border-radius: 5px;
}

.button:hover{
    background-color: rgb(97, 174, 185);
}

